.sign-in-page {
    height: 100vh;
    position: relative;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/bcd713c9-291e-4186-a275-117b387eaaf2/c8a8b83a-0d0a-4507-bc77-05e052c54aa1/FR-fr-20201019-popsignuptwoweeks-perspective_alpha_website_large.jpg") no-repeat scroll 0 0;
    background-size: cover;

    .height-self-center {
        height: 100vh;
        border-radius: 15px;
    }

    .sign-user_card {
        position: relative;
        background: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.5);
        display: block;
        margin: 0 auto;
        padding: 60px 70px 140px;
        margin-bottom: 90px;

        .sign-in-page-data {
            border-radius: 15px;
        }
    }
}

.form-group {
    &+.form-group {
        margin-top: 15px;
    }
}
.form-control {
    color: #000;
    height: calc(1.5em + 1.75rem + 2px);
    padding: 1.375rem 0.75rem;
    border-radius: 0;
    border: unset;

    &:focus {
        background: transparent;
        box-shadow: none;
        border: 1px solid #e50914;
        color: #fff;
    }
}

.sign-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-link:hover {
    color: #e50914;
}

::placeholder {
    color: #d9d5d5 !important;
    opacity: 1;
}


:-ms-input-placeholder,
::-ms-input-placeholder {
    color: #d9d5d5 !important;
}